# Cadena de conexión de PostgreSQL
# En Portainer con el docker-compose incluido, el host es 'db':
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/rentacasa?schema=public"

# Secreto para JWT y tokens de sesión
NEXTAUTH_SECRET="clave_secreta_super_segura_de_al_menos_32_caracteres_cambiar_en_produccion"

# URL base pública del despliegue (para generación de enlaces de firma y portales)
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NODE_ENV="development"
