DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/rentacasa?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=rentacasa
NEXTAUTH_SECRET=clave_secreta_super_segura_de_al_menos_32_caracteres_produccion
NEXTAUTH_URL=https://renta-casa.instala.xyz
NEXT_PUBLIC_APP_URL=https://renta-casa.instala.xyz
PORT=3060
NODE_ENV=production
